{% extends 'base.html' %}

{% load static %}

{% block title %} Thank you!
{% endblock title %}


{% block content %}
<div class="container">
	<h3>Hello world!</h3>
	<table class="table">
		<thead>
			<tr>
			<td>ID</td>
			<td>Full Name</td>
			<td>Item Name</td>
			<td>Number Of Item</td>
			<td>Price </td>
			<td>Payment Method</td>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
			<tr>
				<td>{{user.id}}</td>
				<td>{{request.user}}</td>
				<td>{{item.product}}</td>
				<td>{{item.quantity}}</td>
				<td>{{item.get_total}}</td>
				<td>{{method}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
