{% extends 'base.html' %}

{% block title %} Login 
{% endblock title %}


{% block content %}
<div class="signup-page">
    <div class="containerform">
        <a href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="form">
            <h2>Sign In</h2>
            <form method="post">
                {% csrf_token %}
                <div class="inputBox">
                    <input type="email" name="email" required>
                    <i class="fa-solid fa-envelope"></i>
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required>
                    <i class="fa-solid fa-lock"></i>
                    <span>Password</span>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Sign In">
                </div>
                <p>Haven't an account yet? <a href="{% url 'sign_up' %}">Create Now.</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock content %}